---
import "../styles/global.css";
import TarotSpread from "../components/TarotSpread.jsx";

const title = "Tarot";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/Tarot-logo.png" />
    <title>{title}</title>
  </head>

  <body class="bg-[#050208] text-white min-h-screen overflow-x-hidden">
    <div
      class="fixed inset-0 bg-[url('https://www.transparenttextures.com/patterns/stardust.png')] opacity-30 pointer-events-none"
    >
    </div>

    <div
      class="fixed top-[-10%] left-[-10%] w-[40%] h-[40%] bg-purple-900/20 blur-[120px] rounded-full"
    >
    </div>
    <div
      class="fixed bottom-[-10%] right-[-10%] w-[40%] h-[40%] bg-red-900/10 blur-[120px] rounded-full"
    >
    </div>

    <main
      class="relative z-10 flex min-h-screen flex-col items-center justify-center overflow-hidden px-4"
    >
      <div
        class="absolute inset-0 bg-[radial-gradient(circle_at_top,rgba(168,85,247,0.15),transparent_60%)]"
      >
      </div>

      <section
        class="relative z-10 flex flex-col items-center gap-6 text-center"
      >
        <h1
          class="text-6xl font-serif tracking-tighter text-transparent bg-clip-text bg-linear-to-b from-purple-200 to-purple-500 drop-shadow-[0_0_15px_rgba(168,85,247,0.5)]"
        >
          Tarot de Mae
        </h1>

        <p class="max-w-md text-gray-300">
          Una guía para el presente, Te amuuu xddd
        </p>

        <TarotSpread client:load />
      </section>
    </main>
  </body>
</html>
